*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MainSection{
    background-color: #b9936c;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 625px;
}

.questionMainWindow{
    margin-bottom: 20px;
    height: 400px;
    width: 750px;
    border: #e6e2d3 1px solid;
    box-shadow: 0 0 2px 5px #e6e2d3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #dac292;
    overflow: hidden;
    gap: 20px;
    border-radius: 15px;
}



.questionMainWindow h1{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
    max-height: 150px;
}

.questionMainWindow input{
    margin-left: 110px;
    height: 100px;
    width: 400px;
    font-size: 20px;
    background-color: #c4b7a6;
    border-radius: 10px;
    border: none;
    margin-bottom: -15px;
}

.questionSection{
    display: flex;
    position: relative;
    top: 0px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 428px;
    transition: 1s ease;
}

.questionWindow{
    display: flex;
    justify-content: center;
    transition: 1s ease;
    height: 450px;
    overflow-y: hidden;
}

.answerBtnBlock{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 400px;
    height: 100px;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.answerBtn{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    height: 50px;
    width: 190px;
    text-align: center;
    align-items: center;
    background-color: #c4b7a6 ;
    border:none;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #E7E8D1;
}

@media screen and (max-width: 600px) {
    .MainSection{
        height: 895px;
    }
    .answerBtnBlock {
        height: 100px;
        width: 400px;
    }
    .answerBtn{
        width: 150px;
        height: 40px;
    }
    .questionMainWindow input{
        width: 300px;
        height: 50px;
        background-color: #c4b7a6;
    }
    .questionMainWindow h1{
        font-size: 26px;
        margin-top: 30px;
    }
    .questionMainWindow{
        width: 350px;

    }
}

.answerBtn:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 10px 5px darkolivegreen;
    transition: 0.5s ease;
}

.testImg{
    object-fit: cover;
    border-radius: 50px;
}
.testDivImg{
    display: flex;
}

.questionSbmtBtn{
    height: 50px;
    margin-top: 20px;
    width: 90px;
    border-radius: 10px;
    background-color: #b9936c;
    border: none;
}

.questionSbmtBtn:hover{
    cursor: pointer;
}
